@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Henny+Penny);
@font-face{
   font-family:"icon";
    src:  url("../font/symbol-signs.otf");
}
*{
	padding:0;
	margin:0;
	font-family: 'Open-sans',sans-serif;
}
html,body{
 width: 100%;
 height: 100%;
}
body{
	position:relative;
	width:100%;
	height:100%;
	background-image: url("../img/fondo_smartphone.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
header h1,h2{
    font-family: 'Henny Penny', sans-serif;
}
header#titulo{
    width: 100%;
    min-height:100%;
    z-index: -999;
}
header#titulo #logo{
    width:50%;
    margin-top: 5%;
    margin-left: 25%;
}
header #flecha{
    width: 20%;
    transform: rotate(90deg);
    margin-left: 40%;
    margin-top: 20%;
}
header#titulo h1{
    width: 100%;
    text-align: center;
    color:white;
    font-size: 250%;
}
main{
    width:100%;
    min-height: 100%;
    
    background: #E0E0E0;
}
section{
    width: 100%;
    
}
section article{
    width: 100%;
}
section article header{
    line-height: 2em;
    margin-top: 1%;
    text-align: justify;
    font-size: 185%;
    
}

#yosoy img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px ;
    
    
}
.icon{
    font-family:'icon';
    
}
span.icon{
    margin-left: 1%;
}

#yosoy div{
   padding: 3px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;

}
#yosoy div p{
    font-size: 1.2em;
    line-height: 180%;
    
}
#misconocimientos div{
    width: 90%;
    margin: 1em auto;
}

#misconocimientos img{
    width: 25%;
    margin: 0.5em 0.6em;
    
}
#misaptitudes div{
    width: 90%;
    margin: 0 auto;
    font-size:1.5em;
}
#misaptitudes img{
    width: 10%;
    
    
}
#misredes div{
    width: 90%;
    margin: 1em auto;
    
}

#misredes img{
    width: 40%;
    margin: 0 4.3%;
    
}
#misredes #linkedin{
    margin: 0 25%;
}

@media screen and (min-width:590px){
    #misconocimientos img{
        margin: 0.5em 1.3em;
    }
}
@media screen and (min-width:900px){
    body{
        background-image: url(../img/fondo_escritorio.jpg);}
    header#titulo #logo{
        display: none;
    }
    header#titulo #flecha{
        width: 5%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 47.5%;
    }
    header#titulo h1{
        
        color:black;
    }
    span.icon{
        display: none;
        
    }
    main{
       
        min-height: 100%;
        margin: 0 auto;
        box-shadow: 0 0 10px;
    }
    section{
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    section article{
        display: none;
        width: 50%;
        min-height: 50%;
        box-shadow: 0 0 10px;
        
        
        
    }
    section article header{
        padding: 0.8% 0;
        text-align: center;
    }
    #yosoy div p{
        margin: 1em auto;
        font-size: 2em;
        line-height: 1.5em;
    }
    
    #misconocimientos div{
        width:70%;
        margin:4%  auto;
        
      
    }
    #misconocimientos img{
        width:40%;
        margin: 1% 4.5%;
        
    }
    #misaptitudes div{
        font-size: 2em;
    }
    
    
}


