@CHARSET "ISO-8859-1";
*{
	padding:0;
	margin:0;
	font-family: 'Poppins',sans-serif;
}
html,body{
 width: 100%;
 height: 100%;
}
body{
	position:relative;
	width:100%;
	height:100%;
	background-image: url("../img/fondo_smartphone.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
header{
    width: 100%;
    height: 100%;
}
header #logo{
    width:50%;
    margin-top: 15%;
    margin-left: 25%;
}
header h1{
    width: 100%;
    text-align: center;
    color:white;
    font-size: 300%;
}
main{
    width:100%;
    background: #E0E0E0;
}
section{
    width: 100%;
    
}
section article{
    width: 100%;
}
#misconocimientos img{
    width: 30%;
}
#misaptitudes img{
    width: 10%;
}
#misredes img{
    width: 40%;
    margin: 0 4.3%;
    
}
#misredes #linkedin{
    margin: 0 25%;
}

@media screen and (min-width:650px){
    body{
        background-image: url(../img/fondo_escritorio.jpg);}
    header h1{
        
        color:black;
    }
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    section article{
        width: 49.8%;
        border: 1px solid black;
    }
}

