@CHARSET "ISO-8859-1";
*{
	padding:0;
	margin:0;
	font-family: 'Poppins',sans-serif;
}
html,body{
 width: 100%;
 height: 100%;
}
body{
	position:relative;
	width:100%;
	height:100%;
	background-image: url("../img/fondo_smartphone.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
header#titulo{
    width: 100%;
    height: 100%;
    z-index: -999;
}
header#titulo #logo{
    width:50%;
    margin-top: 15%;
    margin-left: 25%;
}
header #flecha{
    width: 20%;
    transform: rotate(90deg);
    margin-left: 40%;
    margin-top: 20%;
}
header#titulo h1{
    width: 100%;
    text-align: center;
    color:white;
    font-size: 300%;
}
main{
    width:100%;
    min-height: 100%;
    line-height: 1em;
    background: #E0E0E0;
}
section{
    width: 100%;
    
}
section article{
    width: 100%;
}
section article header{
    line-height: 2em;
    text-align: justify;
    font-size: 185%;
    
}

#yosoy img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px ;
    
    
}
#yosoy div{
   padding: 3px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;

}
#yosoy div p{
    padding: 1em 1em;
}
#misconocimientos div{
    width: 90%;
    margin: 1em auto;
}

#misconocimientos img{
    width: 30%;
    
}
#misaptitudes div{
    width: 90%;
    margin: 0 auto;
    font-size:1.5em;
}
#misaptitudes img{
    width: 10%;
    
    
}
#misredes div{
    width: 90%;
    margin: 1em auto;
    
}

#misredes img{
    width: 40%;
    margin: 0 4.3%;
    
}
#misredes #linkedin{
    margin: 0 25%;
}

@media screen and (min-width:650px){
    body{
        background-image: url(../img/fondo_escritorio.jpg);}
    header#titulo #logo{
        display: none;
    }
    header#titulo h1{
        
        color:black;
    }
    main{
        margin: 0 auto;
        box-shadow: 0 0 10px;
    }
    section{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    section article{
        display: none;
        width: 50%;
           box-shadow: 0 0 10px;
    }
    section article header{
        text-align: center;
    }
    #yosoy div p{
        margin: 1em auto;
        font-size: 1.5em;
        line-height: 30px;
    }
}

